.Button {
    color: #fff;
    background-color: var(--success);
    height: 36px;
    min-width: 90px;
    font-family: Open Sans,Arial;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.button-secondary {
    background-color: var(--error);
}

.button-third {
    background-color: var(--warning);
}