@import "../styles/colors.scss";
@import "../styles/variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: #0d081b;
  @include colors();
  @include variables();
}

a {
  color: inherit;
  text-decoration: none;
}


.ccm__content {
  background-color: red !important;

}