.role_container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 24px;
    border-radius: 12px;
    transition: 0.2s;
    border: 1px solid transparent;
}

.role_date {
    color: var(--faintgrey);
}

.role_container:hover {
    border: 1px solid var(--error);
    backdrop-filter: blur(16px);
    background-color: #6b686813;
}

.role_description {
    color: var(--faintgrey);
    margin-top: 12px;
}

.role_pills {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}