.profile_container {
    display: flex;
    width: 100%;
    .profile_section {
        width: 50%;
        .subtitle {
            color: var(--faintgrey);
        }
        .me_container {
            display: flex;
            flex-direction: column;
            .profile_picture {
                margin-top: 12px;
            }
        }
    }
    .my_experience {
        text-align: left;
        color: var(--faintgrey);
    }
    .role_section {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

